@import "../../common/colors.scss";

.movie-section {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  color: $font-primary;
  font-weight: 400;
}

.movie-rating {
  padding-left: 3px;
  margin-top: 20px;
  color: $font-secondary;
  display: flex;
  span {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-right: 20px;
  }
}
.movie-title {
  font-size: 40px;
  color: $font-primary;
}
.movie-plot {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin: 20px 0;
  line-height: 1.7rem;
}
.movie-info > div span:first-child {
  padding: 10px 0;
  color: $font-primary;
  font-weight: 600;
  width: 120px;
  display: inline-block;
}
.movie-info > div span {
  color: $font-secondary;
}
.right {
  margin-left: 30px;
  img {
    box-shadow: 0px 0px 20px 1px rgb(217, 205, 205);
  }
}
@media screen and(max-width:768px) {
  .movie-section {
    flex-direction: column;
    align-items: flex-start;
  }
  .left {
    width: 90%;
  }
  .right {
    display: none;
  }
}
