@import "../../common/colors.scss";

.movie-list,
.show-list {
  margin: 20px 0;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
  }
}
.movie-container,
.show-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}
.loading {
  color: $font-primary;
  height: 100vh;
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
  font-size: 30px;
}
