@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 70px;
  padding: 0px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: $font-primary;
  font-size: 25px;
  font-weight: 600;
}
.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}
.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;
  form {
    display: flex;
    justify-content: center;
    width: 70%;
    input {
      width: 100%;
      padding: 5px;
      outline: none;
      font-size: 1.1rem;
      transition: 0.3s ease;
      &:focus {
        transform: scale(101%);
      }
    }
    button {
      padding: 7px 10px;
      border: none;

      &:active {
        background-color: orange;
      }
    }
  }
}
