@import "../src/common/colors.scss";

::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
  background-color: black;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

a {
  text-decoration: none;
}
body {
  background-color: $primary-color;
}
.container {
  margin: 0 40px;
}
